:root {
    --primary: #FAFAFA;
    --t-primary: #FFFFFF;
    --secondary: #2A2A2A;
    --tertiary: #2A2A2A;
    --t-tertiary: #2a2a2a8a;


    --ion-text-color: var(--tertiary);
    --ion-placeholder-color: var(--tertiary);
    --ion-background-color: var(--primary);
    --ion-toolbar-background: var(--primary);
    --ion-toolbar-color: var(--secondary);
    --ion-tab-bar-background: var(--primary);
    --ion-tab-bar-color-selected: var(--tertiary);
    --ion-tab-bar-color: var(--t-tertiary);
    --ion-tab-bar-border-color: transparent;
    --ion-border-color: var(--secondary);
    --ion-toolbar-border-color: var(--secondary);

    @font-face {
        font-family: 'Montserrat', sans-serif;
        src: url('./assets/fonts/Montserrat-Light.ttf');
        font-weight: normal;
        font-style: normal;
    }
}

* {
    font-family: 'Montserrat', sans-serif !important;
}


ion-toolbar,
ion-title,
ion-label ion-item {
    --color: var(--tertiary)
}

ion-button {
    --color-hover: var(--primary);
    text-transform: capitalize  !important;
}

ion-button.fill,
ion-button.outline {
    text-transform: capitalize;
}

ion-button.fill {
    --background: var(--tertiary);
    --color: var(--primary);
    /* --color-hover: var(--primary); */
}

ion-button.fill:hover {
    --border-color: var(--secondary);
    --color: var(--secondary);
}


ion-button.fill-outline {
    --color: var(--tertiary);
    --background: var(--primary);
    --border-color: var(--tertiary);
    text-transform: capitalize;
}

ion-button.fill-outline:hover {
    --color: var(--primary);
    --background: var(--tertiary);
    --border-color: var(--tertiary);
}



/*
-------------------------------------------------
Text Colors
-------------------------------------------------
*/

.main_color {
    color: var(--tertiary) !important
}

.bg-transparent {
    background-color: var(--t-tertiary);
}

.bg-main {
    background: var(--tertiary)
}